.title {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: grey;
}

img.photo {
  max-width: 200%;
  height: 800px;
	float: right;
	padding: 0 20px 20px 0;
}

.container {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle
}

.about {
	font-family: inherit;
}

ul.class {
	all: none;
}








font-variant: small-caps;
