.title {
	font-weight: lighter;
	font-family: Arial;
	color: grey;
	text-align: center;
}

img.photo {
width: auto ;
max-width: 65% ;
height: auto ;
float: right;
padding: 30px 30px 30px 30px;
margin: 6px;
}

.container {
  min-height: 10em;
	margin-bottom: 20px;
  display: table-cell;
}

.about {
	font-family: inherit;
	text-align: justify;
	margin-left: 20px;
}

ul.class {
	all: none;
	line-height: 30px;
}

h2 {
	color: #bc96ac;
	font-style: italic;
}

.center {
	text-align: center;
	font-size: 40px;
}

p.contact {
	text-align: center;
	line-height: normal;
	font-variant: small-caps;
}

strong.important {
	color: #c19766;
}

.column {
	padding: 5px 10px 5px 10px;
	margin: 12px;
	border: 2px solid darkred;
	padding: 4px;
}

.navbar {
	color: #bc96ac;
}

.sidebar {
  display: block;
}

strong.proj {
	font-style: oblique;
	font-family: serif;
	font-size: 17px;
}

.tech {
	color: #c19766;
	font-size: 15px;
}

.skills{
	padding: 5px 10px 10px 40px;
}

#contactfluff {
	margin: 7px;
	border: 3px solid darkred;
	padding: 5px 10px 5px 10px;
}
